@import "../variables";

body {
    margin: 0 auto;
}
.hair {
    background-color: $gray;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    a {
        font-size: 14px;
        color: $dark;
        padding: 17px 30px 18px 30px;
    }
    a:hover {
        background-color: $dark;
        color: white;
        transition: background-color 0.4s;
        transition: color 0.4s;
    }
}

.head {
    border-bottom: 1px solid $gray;

    .face {
        @include flex;
        justify-content: space-between;
        max-width: 1190px;
        width: 100%;
        padding: 20px 0;
        margin: 0 auto;

        div {
            @include flex;
            align-items: center;
        }
    
        .logo {
            @include flex;
            justify-content: space-between;
            max-width: 278px;
            width: 100%;
    
            * {
                margin-right: 20px;
            }
        }
    
        .search {
            background-color: $gray;
            border-radius: 40px;
            max-width: 250px;
            width: 100%;
            height: 30px;
            padding: 5px;
            margin-left: 79px;
            margin-top: 20px;
            
            input {
                background-color: $gray;
                border: none;
                outline: none;
                align-items: center;
                font-size: 14px;
                padding-left: 6px;
            }
        }
        .search svg {
            margin: 0 0 0 15px;
        }
    
        .contact {
            p {
                font-size: 16px;
                margin-right: 40px;
            }
    
            a {
                display: block;
                border: 2px solid $pink;
                color: $black;
                border-radius: 40px;
                padding: 12px 26px 13px 27px;
            }
            a:hover {
                background-color: $pink;
                transition: background-color 0.4s;
            }
        }
    }
}

.services {
    @include flex;
    justify-content: center;

    a {
        font-weight: 700;
        color: $black;
        padding: 30px 40px;
    }

    a:hover {
        background-color: $dark;
        color: white;
        transition: background-color 0.4s;
        transition: color 0.4s;
    }
}

.super-chair {
    background-image: url(../../image/bg_super_chair.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    height: 604px;

    * {
        color: white;
    }
    img {
        display: none;
    }

    .container {
        width: 100%;
        margin: 0 auto;

        .block {
            display: flex;
            max-width: 700px;
            width: 100%;
    
            div {
                line-height: 50px;
                max-width: 308px;;
        
                h1 {
                    font-size: 48px;
                    font-weight: 700;
                }
                p {
                    font-size: 14px;
                    line-height: 20px;
                }
                a {
                    display: block;
                    border: 2px solid white;
                    text-align: center;
                    border-radius: 40px;
                    max-width: 170px;
                    height: 40px;
                    padding-bottom: 6px;
                    margin-top: 40px;
                }
                a:hover {
                    background-color: white;
                    color: $dark;
                    transition: background-color 0.4s;
                    transition: color 0.4s;
                }
            }
        }
    }
}

@media (max-width: $desktop1) {
    .super-chair {
        background: none;
        background-color: $pink;
    }

    .super-chair img {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        border: 0;
        background: rgba(255, 255, 255, 0.4);
        border-radius: 50%;
        transform: translateY(11px);
    }

    .super-chair .container .block  h1 {
        display: none;
    }
    .super-chair .container .block  p {
        display: none;
    }

    .super-chair .container .block div a {
        width: 170px;
        margin: 0 auto;
        position: relative;
        bottom: 45px;
    }

    .super-chair .block {
        margin: 0 auto;
        justify-content: center;

    }
}

@media (max-width: $tablet2) {
    .head
    .face {
        justify-content: center;
    }
}

@media (max-width: $tablet3) {
    .services a {
        padding: 15px 25px;
    }
}
@media (max-width: $tablet5) {
    .services a {
        padding: 15px;
    }
}
@media (max-width: $tablet6) {
    .services a {
        padding: 15px 10px;
    }
}

@media (max-width: $tablet7) {
    .hair a {
        padding: 10px 20px;
    }
}

@media (max-width: $tablet9) {
    .face {
        padding: 15px 0;
    }
    .search {
        margin: 0 79px 20px 0;
    }
}

@media (max-width: 600px) {
    .super-chair img {
        max-width: 540px;
        width: 100%;
    }
}

@media (max-width: $mobile1) {
    .services a {
        padding: 15px 5px;
    }
}

@media (max-width: $mobile2) {
    .super-chair .container .block div a {
        position: relative;
        top: 0;
        bottom: 0;
        transform: translateY(-45px);
    }
}

@media (max-width: $mobile3) {
    .face div:not(.logo) {
        margin: 10px 0;
    }

    .search {
        transform: translateX(-30px);
    }

    .services a {
        text-align: center;
        width: 30%;
        padding: 15px 0;
    }
}

@media (max-width: $mobile4) {
    .hair a {
        padding: 15px 10px;
    }
}

@media (max-width: 490px) {
    .super-chair .container .block div a {
        transform: translateY(15px);
    }
}

@media (max-width: $mobile7) {
    .hair a {
        padding: 15px 20px;
    }
}

@media (max-width: $mobile8) {
    .services a {
        width: 40%;
    }
}

@media (max-width: $mobile9) {
    .search {
        transform: translateX(-34px);
    }
    .contact {
        justify-content: center;

        p {
            margin-left: 40px;
            text-align: center;
        }
    }
}