@import "../styles/styles.scss";

body {
    margin: 0 auto;
}
.hair {
    background-color: $gray;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    a {
        font-size: 14px;
        color: $dark;
        padding: 17px 30px 18px 30px;
    }
    a:hover {
        background-color: $dark;
        color: white;
        transition: background-color 0.4s;
        transition: color 0.4s;
    }
}

.head {
    @include flex;
    justify-content: center;
    padding: 20px;
    border-bottom: 1px solid $gray;

    div {
        @include flex;
        align-items: center;
    }

    .logo * {
        margin: 0 0 0 20px;
    }

    .search {
        background-color: $gray;
        border-radius: 40px;
        max-width: 240px;
        width: 100%;
        height: 30px;
        padding: 5px;
        padding-left: 20px;
        margin: 20px 93px 0 172px;
        
        input {
            background-color: $gray;
            border: none;
            outline: none;
            align-items: center;
            font-size: 14px;
            padding-left: 6px;
        }
    }

    .contact {
        p {
            font-size: 16px;
            margin-right: 40px;
        }

        a {
            display: block;
            border: 2px solid $pink;
            color: $black;
            border-radius: 40px;
            padding: 12px 26px 13px 27px;
        }
        a:hover {
            background-color: $pink;
            transition: background-color 0.4s;
        }
    }
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    a {
        font-weight: 700;
        color: $black;
        padding: 30px 40px;
    }

    a:hover {
        background-color: $dark;
        color: white;
        transition: background-color 0.4s;
        transition: color 0.4s;
    }
}

.super-chair {
    background-image: url(../../image/bg_super_chair.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    height: 604px;

    div * {
        color: white;
    }
    div {
        line-height: 50px;
        max-width: 308px;
        min-width: 108px;
        position: relative;
        left: 405px;
        h1 {
            font-size: 48px;
            font-weight: 700;
        }
        p {
            font-size: 14px;
            line-height: 20px;
        }
        a {
            display: block;
            border: 2px solid white;
            text-align: center;
            border-radius: 40px;
            max-width: 170px;
            height: 40px;
            padding-bottom: 6px;
            margin-top: 40px;
        }
        a:hover {
            background-color: white;
            color: $dark;
            transition: background-color 0.4s;
            transition: color 0.4s;
        }
    }
}