$black: #000000;
$dark: #333333;
$gray: #EFEFEF;
$pink: #F13C6E;

@mixin flex {
    display: flex;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
}

* {
    font-family: 'Roboto', sans-serif;
}